@layer base {

    a:link:not(.btn) {
        @apply text-primary transition;
    }

    a:visited:not(.btn) {
        @apply text-secondary;
    }

    a:hover:not(.btn) {
        @apply text-secondary scale-105;
    }

    a:active,
    a.active {
        @apply cursor-default text-info;
    }

    a[target="_blank"]:after {
        @apply content-['_↗'] relative;
    }

}
